html {
    height:100%;
    margin: 0;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-color: #161616;
    color: #DDDDDD;
    font-family: Arial, Verdana, sans-serif;
    text-align: center;
    margin: 0px
}

img {
    max-width: 5rem;
    max-height: 5rem;
}

h1 {
    
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

/* Flexboxes */
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
}

.container-vertical {
    flex-direction: column;
    align-items: center;
}

.container-padded {
    padding: 1rem;
}

.container-padded>.item {
    margin: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.item {
    padding: 1rem;
}

/* Boxy */
.boxed {
    background-color: #88888810;
    border-radius: 1rem;
}

/* Buttons */
.btn {
    text-align: center;
    vertical-align: middle;
    background-color: #333333;
    color: #EEEEEE;
    border: 0px solid transparent;
    box-sizing: border-box;
    padding: 1rem 1.5rem;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.5;
    border-radius: 1rem;
    outline: none;
}

.btn.rfa {
    background-color: #158E45;
}

.btn.rfi {
    background-color: #E2001A;
}

.btn.voa {
    background-color: #0001CC;
}

/* Playing animation */
.btn.playing {
    animation:pulse 5s infinite;
    padding: 0.5rem 1rem;
    border: 0.5rem solid transparent;
}

@keyframes pulse {
    0% { border-color: transparent; }
    50% { border-color: hsla(0,0%,100%,1); }
    0% { border-color: transparent; }
}
